<div class="container py-5 home-clean">
  <%= render "home/components/hero" %>
  <%= render "home/components/about", presentation: @presentation %>
  <%= render "home/components/skills", skills: @skills %>
</div>
