<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/247791/pexels-photo-247791.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container">
    <h1>Bienvenue sur mon Portfolio</h1>
    <p>Découvrez mes compétences et mes projets.</p>
    <a class="btn btn-flat" href="/projects">Voir mes projets</a>
  </div>
</div>


<div class="presentation">
  <h2>Présentation :</h2>
  <div>
    <div class="card-product">
    <img src="<%= asset_path('avatar.jpeg') %>" alt="Avatar">
  <div class="card-product-infos">
    <p><%= @presentation %></p>
  </div>
</div>


  </div>
</div>

<div class="competences">

  <h2>Compétences :</h2>
  <ul class="skills">
    <% @skills.each do |skill| %>
      <li>
        <strong><%= skill[:name] %>:</strong> <%= skill[:level] %>
      </li>
    <% end %>
  </ul>
</div>
