<div class="contact-container">
  <div class="card" data-state="#about">
    <div class="card-header">
      <div class="card-cover" style="background-image: url('https://2.bp.blogspot.com/-b_lqelKRB4k/Xj-rBvoSxUI/AAAAAAAACHg/G19lzRiO6qYQmquCqut44r1cMdF53HQ0QCLcBGAsYHQ/s1600/anime3.png')"></div>
      <img class="card-avatar" src="<%= asset_path('avatar.jpeg') %>" alt="avatar" />
      <h1 class="card-fullname">Dani Derbala</h1>
      <h2 class="card-jobtitle">FullStack Développeur</h2>
    </div>
    <div class="card-main">
      <div class="card-section is-active" id="about">
        <div class="card-content">
          <div class="card-subtitle">Me contacter</div>
          <p class="card-desc">Je suis disponible sur mes réseaux sociaux ou par email pour discuter de tout projet passionnant. Je suis particulièrement ouvert aux opportunités d'alternance et prêt à apporter ma passion et mes compétences au développement web et aux jeux vidéo. Contactez-moi pour explorer comment nous pouvons collaborer ensemble !
          </p>
        </div>
        <div class="card-social">
          <a href="https://www.linkedin.com/in/dani-derbala-212320273/" style="text-decoration: none" target="blank">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/Daani7" style="text-decoration: none" target="blank">
            <i class="fa-brands fa-github"></i>
          </a>
            <a href="mailto:dani.derbala77210@gmail.com" style="text-decoration: none" target="blank">
            <i class="fa-solid fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
