.presentation {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  h2 {
    text-align: left;
    text-decoration: underline;
    margin-bottom: 35px;
  }
}

.competences {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.competences h1, .competences h2 {
  text-align: left;
  text-decoration: underline;
  margin-bottom: 35px;
}

.skills {
  list-style-type: none;
  padding: 0;
}

.skills li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.skills li strong {
  display: inline-block;
  width: 200px;
}
