<div class="footer">
  <div class="footer-links">
  <a href="https://www.linkedin.com/in/dani-derbala-212320273/" style="text-decoration: none" target="blank">
    <i class="fa-brands fa-linkedin-in"></i>
  </a>
  <a href="https://github.com/Daani7" style="text-decoration: none" target="blank">
    <i class="fa-brands fa-github"></i>
  </a>
    <a href="mailto:dani.derbala77210@gmail.com" style="text-decoration: none" target="blank">
    <i class="fa-solid fa-envelope"></i>
  </a>
  </div>
  <div class="footer-copyright">
  </div>
</div>
